version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 3
    open-pull-requests-limit: 1
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "@types/node"
    groups:
      all-dependencies:
        patterns:
          - "*"
